
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div>
            <img src="img/snow.jpg" />
            <h3>Snow</h3>
            <ul class="product-props">
                <li>Price: $9.99</li>
                <li>Artist: NoName</li>
                <li>Title: Snow</li>
                <li>Description: Self</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
    </div>
    <div class="col-md-3">
        <p>This is a fun site to do some buying of dutch produscts.</p>
    </div>
</div>